/*css初始化*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font: 12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
html,body{height: 100%;}
*{box-sizing: border-box;-webkit-box-sizing: border-box;}
body{background-image: url('../images/login/login-bg.png');background-repeat: no-repeat;background-size:cover;text-align: center;}
.checkbox{ display: inline-block; vertical-align: middle; cursor: pointer;}
.checkbox i{display: inline-block;border: 1px solid #C1CACA;padding: 6px;position: relative;vertical-align: middle;margin-top: -1px;background-color: #f8f8f8;}
.checkbox input:checked ~ i:after{content: ' ';display: inline-block;width: 7px;height: 3px;border-style: solid;border-color: #333;border-width: 0 0 1px 1px; position: absolute;top:3px;left: 2px;transform: rotate(-45deg);-webkit-transform: rotate(-45deg)}
.checkbox input{ display: none;}

.login-wrp{position: relative;top: 40%;margin: 0 auto;transform: translateY(-50%);-webkit-transform: translateY(-50%);}

.login-title{color: #fff;padding-bottom: 15px;font-size: 41px;}
.login-title p{font-size: 23px;}

.login-form{display: inline-block;padding: 30px; background-color: #f8f9fb;border-radius: 8px;-webkit-border-radius: 8px;}
.login-form .logo{float:left;width: 165px;height: 200px;background-image: url('../images/login/login-logo.png');background-size: 65%;background-position: center;background-repeat: no-repeat;}
.login-form .form-right{float: right;padding-left: 25px;border-left: 1px solid #ddd;}
.login-form .title{font-size: 16px;color: #5e5f5f;margin-top: 2px; margin-bottom: 15px;text-align: left;}
.login-form .form-row{display: block; position: relative; margin-bottom: 25px;}
.login-form .form-row .form-input{width: 320px;height: 40px;line-height: 40px; border:1px solid #ddd;padding: 5px 5px 5px 30px;font-size: 13px;background-color: #fff;  }
.login-form .form-row .form-input:before{content: '';display: block;width:1px;position: absolute;top: 5px;bottom: 5px;left: 28px;background-color: #333;}
.login-form .form-row .icon{display: inline-block;width: 13px;height: 100%; position: absolute;left: 8px;top:0;background-size: contain;background-repeat: no-repeat;background-position: center;}
.login-form .form-row .icon-user{background-image: url('../images/login/login-user.png');}
.login-form .form-row .icon-password{background-image: url('../images/login/login-pwd.png');}
.login-form .form-row .form-input:focus ~ i.icon-user{background-image: url('../images/login/login-user-focus.png');}
.login-form .form-row .form-input:focus ~ i.icon-password{background-image: url('../images/login/login-pwd-focus.png');}
.login-form .form-bottom{margin-top: 26px;text-align: left;overflow: hidden;}
.login-form .form-bottom .checkbox{font-size: 12px;margin-top: 8px;color: #5e5f5f;}
.login-form .form-bottom .btn{float: right;background-color: #207bd7;color: #fff;padding: 10px 40px;border: none;font-size: 12px;border-radius: 3px;-webkit-border-radius: 3px;cursor: pointer;}

.layui-layer-loading .layui-layer-content {  width: 40px !important;  height: 40px !important;}