<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- manage-biz配置 -->
    <import resource="classpath*:manage-biz-config.xml"/>

    <bean id="loggingAspect" class="com.pikaqiu.manage.web.logback.LoggingAspect"></bean>
</beans>