<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 使用thymeleaf解析 -->
    <bean id="templateResolver" class="org.thymeleaf.spring3.templateresolver.SpringResourceTemplateResolver">
        <property name="prefix" value="/WEB-INF/templates/"/>
        <property name="suffix" value=".html"/>
        <property name="templateMode" value="HTML"/>
        <property name="cacheable" value="false"/>
        <property name="characterEncoding" value="UTF-8"/>
    </bean>

    <bean id="templateEngine" class="org.thymeleaf.spring3.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver"/>
    </bean>

    <bean id="thymeleafViewResolver" class="org.thymeleaf.spring3.view.ThymeleafViewResolver">
        <property name="templateEngine" ref="templateEngine"/>
        <property name="characterEncoding" value="UTF-8"/>
    </bean>

    <!-- 静态资源文件，不会被Spring MVC拦截 -->
    <mvc:resources mapping="/css/**" location="/WEB-INF/css/"/>
    <mvc:resources mapping="/images/**" location="/WEB-INF/images/" />
    <mvc:resources mapping="/js/**" location="/WEB-INF/js/"/>
    <mvc:resources mapping="/lib/**" location="/WEB-INF/lib/"/>

    <!-- API 文档-->
    <mvc:resources mapping="/swagger/**" location="/WEB-INF/swagger/"/>
    <mvc:resources mapping="/api/swagger.json" location="/api/swagger.json"/>

    <!-- 自动注册基于注解风格的处理器需要的 RequestMappingHandlerMapping、RequestMappingHandlerAdapter -->
    <mvc:annotation-driven/>

    <!-- 到哪里去找标记为@Controller 的Controller 控制器 -->
    <context:component-scan base-package="com.pikaqiu.manage.web.controller">
        <!--<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/>-->
        <context:include-filter type="regex" expression=".*Controller"/>
    </context:component-scan >
</beans>